# Ignore all CSV & .txt files (dataset)
IPCA/*.csv
IPCA/*.txt
IPCA/*.zip
Dataset/*.csv
Dataset/*.zip
Dataset/*.txt

# Ignore system/application files/folders
.DS_Store
Dataset/.DS_Store
Dataset/.ipynb_checkpoints

